<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <header>
      <h1><%= htmlWebpackPlugin.options.myPageHeader %></h1>
      <form>
        <input
          id="search-bar"
          placeholder="Type your location..."
        />
        <button
          type="button"
          id="search-btn"
        >
          Search !
        </button>
      </form>
    </header>
    <div id="weather-app"></div>
  </body>
</html>
